<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id          = "com.datadrill.demo"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Demo Project</name>

    <description>
        Initial Test Project 
    </description>

    <author email="curtis.korchynski@datadrill.ca">
        Curtis Korchynski
    </author>
	<gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
</widget>